colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
filelock==3.25.2
fonttools==4.62.1
griddataformats==1.1.0
joblib==1.5.3
kiwisolver==1.5.0
matplotlib==3.10.8
mda-xdrlib==0.2.0
mdanalysis==2.10.0
mmtf-python==1.1.3
mrcfile==1.5.4
msgpack==1.1.2
numpy==2.4.3
packaging==26.0
pillow==12.1.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.3
